ConnectionStrings__Sgol=REQUIRED_EXTERNAL_SECRET
Evidence__Storage__AccessKey=REQUIRED_EXTERNAL_SECRET
Evidence__Storage__SecretKey=REQUIRED_EXTERNAL_SECRET
Backup__PostgreSql__ConnectionString=REQUIRED_EXTERNAL_SECRET
Backup__Storage__AccessKey=REQUIRED_EXTERNAL_SECRET
Backup__Storage__SecretKey=REQUIRED_EXTERNAL_SECRET
Replica__Source__AccessKey=REQUIRED_EXTERNAL_SECRET
Replica__Source__SecretKey=REQUIRED_EXTERNAL_SECRET
Replica__Destination__AccessKey=REQUIRED_EXTERNAL_SECRET
Replica__Destination__SecretKey=REQUIRED_EXTERNAL_SECRET
DataProtection__WrappingCertificate=REQUIRED_EXTERNAL_SECRET
DataProtection__WrappingCertificatePassword=REQUIRED_EXTERNAL_SECRET
Restore__PostgreSql__ConnectionString=REQUIRED_EXTERNAL_SECRET
Restore__Encryption__Identity=REQUIRED_EXTERNAL_SECRET
OTEL_EXPORTER_OTLP_HEADERS=REQUIRED_EXTERNAL_SECRET
